.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  display: flex;
  justify-content: center;
}

.logo__blue {
  color: var(--accent-color);
}

.logo__black {
  color: var(--black100);
}

.logo__black--white {
  color: var(--tertiary-color-text);
}
