.advantages {
  padding: 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
    // margin-top: 0px;
    // margin-bottom: 0px;
  }
}

.advantages__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  // display: flex;
  // margin: 0;
  // padding: 0;
}

// .advantages__object {
//   width: 270px;
// }

// .advantages__object:not(:first-child) {
//   margin-left: 30px;
// }

.advantages__object {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
    flex-basis: calc((100% / 2 - 30px));
  }

  // @media screen and (min-width: 1200px) {
  //   flex-basis: calc((100% / 1 - 30px));
  // }
}

.advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  margin-top: 0px;
  margin-bottom: 10px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-text);
  margin-top: 0px;
  margin-bottom: 0px;
}

.advantages__item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-btn-portfolio);
}
