.our-team {
  padding: 60px 0px;
  background-color: var(--background-btn-portfolio);

  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}

.our-team__title {
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 50px;
}
