.our-team {
  padding: 60px 0px;
  background-color: var(--background-btn-portfolio);
}

.our-team__title {
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 50px;
}
