.footer {
  background-color: var(--background-hero);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0px;
}

.footer-container__centered {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  // display: flex;
  // align-items: baseline;
  // justify-content: space-between;
}
