.footer {
  background-color: var(--background-hero);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0px;
}

.footer-container__centered {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}