:root {
  --accent-color: #2196f3;
  --tertiary-color-text: #ffffff;
  --primary-color-text: #212121;
  --secondary-color-text: #757575;
  --gris-op60: #ffffff60;
  --black100: #000000;
  --background-hero: #2f303a;
  --background-btn-portfolio: #f5f4fa;
  --background-color-hero: rgba(47, 48, 58, 0.4);
  --inactive-color-button: #afb1b8;
  --background-color-button: rgba(255, 255, 255, 0.1);
  --border-color: #eeeeee;
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --background-our-work: rgba(47, 48, 58, 0.8);
  --backdrop-portfolio-color: rgba(33, 150, 243, 0.9);
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
}